<!DOCTYPE html>
<head>	
	<!--link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script-->

	<script src="/static/jquery.min.js"></script>
	<script src="/static/bootstrap.min.js"></script>
	<link rel="stylesheet" href="/static/bootstrap.min.css">

</head>
<body>

	<div id='header'><p>Draft Lobby</p></div>


	{% if player_list %}
		<ul>
			{% for player in player_list %}
				<li> {{ player.first_name }} {{ player.last_name }} || Pos. {{ player.position }} </li>
			{% endfor %}
		</ul>
		<script type="text/javascript">
			var player_list = {{player_list_raw|safe}};
		</script>
	{% else %}
		<p>Player list is empty or unavailable!</p>
	{% endif %}



	<div id='chatbox' class="col-sm-4">
		<ul class="list-group" id="chat-ul">

		</ul>

			<label for='text-submit'>Enter your message</label>
			<input class='form-control' id='text-submit'></input>
			<button type="button" class="btn btn-default btn-block" id='sendbutton'>Send</button>

	</div>

	<div class="col-sm-4">
		<form>
			<div class="form-group">
				<label for='firstname2'>First name:</label>
				<input class='form-control' id='firstname2'>
			</div>
			<div class="form-group">
				<label for='lastname2'>Last name:</label>
				<input class='form-control' id='lastname2'>
			</div>
			<div class="form-group">
				<label for='position2'>Position:</label>
				<select class='form-control' id='position2'>
					<option value"PG" selected>PG</option>
					<option value"SG">SG</option>
					<option value"SF">SF</option>
					<option value"PF">PF</option>
					<option value"C">C</option>
				</select>
			</div>
			<button type="button" class="btn btn-default btn-block" id='add-player-submit'>Submit</button>
		</form>
	</div>

	</br>

</br>

	<script type='text/javascript'> 
//================================= Important Vars =================================

		var serverAddress = '127.0.0.1:8001';
		var wsock = new WebSocket('ws://'+serverAddress +'/ws/');

		function getCookie(name) {
		    var cookieValue = null;
		    if (document.cookie && document.cookie !== '') {
		        var cookies = document.cookie.split(';');
		        for (var i = 0; i < cookies.length; i++) {
		            var cookie = jQuery.trim(cookies[i]);
		            // Does this cookie string begin with the name we want?
		            if (cookie.substring(0, name.length + 1) === (name + '=')) {
		                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
		                break;
		            }
		        }
		    }
		    return cookieValue;
		}
		var csrftoken = getCookie('csrftoken');

//================================= Player adding controls =================================

		var playerAddButton = document.getElementById('add-player-submit');
		var playerPositionSelect = document.getElementById('position2');
		var playerAddFirstName = document.getElementById('firstname2');
		var playerAddLastName = document.getElementById('lastname2');

		var errorobj = undefined;

		var playerAddButtonHandler = function(){

			var playerAddURL = 'http://'+serverAddress+'/add_player/';
			//var playerAddURL = 'localhost:8000/add_player/';
			// var playerAddPayload = {
			// 	'first_name':playerAddFirstName.value,
			// 	'last_name':playerAddLastName.value,
			// 	'position':playerPositionSelect.value,
			// };
           var playerAddPayload = {};
           playerAddPayload['first_name'] = playerAddFirstName.value;
           playerAddPayload['last_name'] = playerAddLastName.value;
           playerAddPayload['position'] = playerPositionSelect.value;

			console.log(playerAddPayload);
			
			var fullname = playerAddPayload['first_name'] + " " + playerAddPayload['last_name'];
			//alert("gonna call add");
			$.ajax({
				type:'POST',
				dataType:'html', 
				// TODO - Learn why datatype:json goes to error
				// - Apparently return data is not a valid json (For ASGI at least)
				url:playerAddURL,
				data: JSON.stringify(playerAddPayload),
				//contentType:'json',
				//type: 'POST',
			    
			    beforeSend: function(xhr) {xhr.setRequestHeader("X-CSRFToken", csrftoken);},
				success: function(responseData, textStatus, jqXHR)
				{
					chatbox.innerHTML += "<li class='list-group-item'>[Ingame] Player " + fullname + "  added</li>";
				},
				error: function(e)
				{
					errorobj = e;
					alert(e);
				}
			});
		};

		playerAddButton.onclick = playerAddButtonHandler;

//================================= Chat controls =================================

		var chatbox = document.getElementById('chat-ul');
		var sendbutton = document.getElementById('sendbutton');
		var submit = document.getElementById('text-submit');

		wsock.onmessage = function(msg) {
			chatbox.innerHTML+='<li class="list-group-item">[Chat] '+msg.data+'</li>';
		};

		wsock.onopen = function(){
			chatbox.innerHTML += "<li class='list-group-item'>Okay talk your trash to each other</li>";
		};

		wsock.onclose = function(){
			chatbox.innerHTML += '<li class="list-group-item">Your connection was lost.</li>';
		};

		sendbutton.onclick = function(){
			if(submit.value!='')
			{
				wsock.send(submit.value);
				submit.value='';
			}
		};

		// TODO - When this triggers, the page reloads... Do not want that.
		submit.addEventListener("keydown", function(e) {
			// if (!e) {var e = window.event;}
			// e.preventDefault();

			if (e.keyCode==13)
			{
				wsock.send(submit.value);
				submit.value="";
			}
		});
	</script>
</body>
</html>